.section {
    padding: 40px 40px;
}
.section .section-title {
    font-size: var(--font-size-extra-large);
    font-family: var(--font-family-title);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}


.about-section {
    font-family: var(--font-family-title);
    background-image: url("/images/pexels-jakub-novacek-924824.jpg");
    background-size: cover;
    background-color: #1e1e20;
    color: #F9F8FC;
    line-height: 1.5;
    padding: 20px 40px;
}
.about-section  .about-title {
    font-size: var(--font-size-extra-large);
    font-weight: 700;
    text-align: right;
    margin-bottom: 10px;
}
.about-section  .about-description,
.about-section .welcome-message {
    font-size: var(--font-size-huge);
    font-weight: 700;
    max-width: 600px;
}
.about-section .welcome-message {
    margin-bottom: 200px;
}
.about-align-right {
    display: flex;
    justify-content: flex-end;
}


.latest-videos {
    background-color: #1e1e20;
    color: #F9F8FC;
    border-top: 1px solid #F9F8FC;
}
.latest-videos .videos-scroll {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    overflow-x: scroll;
    max-width: 1070px;
    margin: 10px auto;
    padding: 10px 0;
}
.latest-videos .videos-scroll .video {
    background-color: #20252C;
    max-width: 350px;
    min-width: 350px;
}
.latest-videos .videos-scroll .video img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.latest-videos .videos-scroll .video .video-link {
    display: block;
    color: #F9F8FC;
    text-decoration: underline;
    padding: 8px;
}
.latest-videos .videos-scroll .video .title {
    font-size: var(--font-size-normal);
    text-align: center;
    -webkit-line-clamp: 2;
}
.latest-videos .links {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin: 0 auto;
    max-width: 1070px;
}
.latest-videos .links .link {
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    color: rgb(17, 167, 236);
    color: #b13539;
    font-weight: 700;
}
.latest-videos .links .link:hover {
    text-decoration: underline;
}
.latest-videos .search-bar-mobile{
    display: none;
    max-width: 1070px;
    margin: 0 auto 20px auto;
}
.latest-videos .search-bar-mobile .search-input,
.latest-videos .search-bar-mobile .search-submit {
    font-family: var(--font-family-body);
    text-transform: capitalize;
    height: 40px;
    border: none;
    outline: none;
}
.latest-videos .search-bar-mobile .search-input {
    flex: 1;
    background-color: #FFFFFF;
    min-width: 100px;
    padding: 0 15px;
}
.latest-videos .search-bar-mobile .search-submit {
    cursor: pointer;
    background-color: #E7E7E7;
}
.latest-videos .search-bar-mobile .search-input::placeholder {
    font-size: var(--font-size-normal);
}

.latest-posts {
    background-color: #F1EEFA;
}
/*estilos compartidos en la seccion de latest-posts y recommended-posts*/
.posts-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1070px;
    gap: 10px;
    margin: 30px auto 0 auto;
}
.post {
    flex-grow: 1;
    flex-basis: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFFFFF;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}
.post .post-summary img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.post .post-summary .post-text-container {
    padding: 4px 10px;
}
.post .post-summary .post-text-container .post-title {
    font-family: var(--font-family-title);
    font-size: var(--font-size-large);
    font-weight: 600;
}
.post .post-summary .post-text-container .sypnosis {
    font-size: var(--font-size-normal);
    text-align: justify;
    line-height: 1.5;
    margin: 15px 0;
}
.post .post-link {
    display: inline-block;
    padding: 0 0 10px 10px;
    text-decoration: none;
    color: #b13539;
}
.post .post-link:hover {
    text-decoration: underline;
}
/*--------------------------------------------------------*/
@media screen and (max-width: 800px){
    .about-section  .about-description,
    .about-section .welcome-message {
        max-width: 500px;
    }
    .latest-videos .videos-scroll .video {
        min-width: 300px;
        max-width: 300px;
    }
}
@media screen and (max-width: 500px) {
    .section {
        padding: 40px 10px;
    }
    .navbar .navbar-feature {
        display: none;
    }
    .about-section {
        padding: 20px 10px;
    }
    .about-section  .about-description,
    .about-section .welcome-message {
        text-align: center;
    }
    .latest-videos .videos-scroll .video {
        max-width: 250px;
    }
    .latest-videos .videos-scroll .video img {
        height: 200px;
    }
    .latest-videos .search-bar-mobile{
        display: flex;
    }
}