/* ----------------------------------------------- */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    top: 0px;
    position: sticky;
    background-color: #3c3c3e;
    width: 100%;
    padding: 8px 15px;
}
.navbar .nav-link {
    font-size: var(--font-size-normal);
    text-decoration: none;
    text-transform: capitalize;
    color: #F9F8FC;
    margin-right: 10px;
}
.navbar .nav-link.accent,
.navbar .nav-link:hover {
    text-decoration: underline;
    /* color: rgb(17, 167, 236); */
}
.navbar .navbar-title {
    font-size: var(--font-size-extra-large);
    font-family: var(--font-family-title);
    font-weight: 700;
    text-transform: capitalize;
    color: #F9F8FC;
}
.navbar .navbar-feature {
    flex: 1;
    max-width: 350px;
    min-width: 100px;
}
.navbar .navbar-feature .navbar-search-bar{
    display: flex;
}
.navbar .navbar-feature .navbar-search-bar .search-input,
.navbar .navbar-feature .navbar-search-bar .search-submit {
    height: 40px;
    border: none;
    outline: none;
}
.navbar .navbar-feature .navbar-search-bar .search-input {
    flex: 1;
    background-color: #FFFFFF;
    min-width: 100px;
    padding: 0 15px;
}
.navbar .navbar-feature .navbar-search-bar .search-submit {
    cursor: pointer;
    background-color: #e7e7e7;
}
.navbar .navbar-feature .navbar-search-bar .search-input::placeholder {
    font-size: var(--font-size-normal);
}
/* ----------------------------------------------- */
.subscription {
    padding: 5px;
}
.subscription .subscribe-message {
    font-size: var(--font-size-large);
    font-weight: 700;
    text-transform: uppercase;
}
.subscription .subscribe-description {
    font-size: var(--font-size-small);
}
.subscription .subscription-form {
    display: flex;
    flex-wrap: wrap;
}
.subscription .subscription-form input, 
.subscription .subscription-form button {
    font-family: var(--font-family-body);
    display: block;
    border: none;
    outline: none;
    padding: 10px 15px;
}
.subscription .subscription-form input {
    flex: 1;
    background-color: #FFFFFF;
    min-width: 100px;
    max-width: 250px;
}
.subscription .subscription-form button {
    cursor: pointer;
    text-transform: capitalize;
    background-color: #b13539;
    color: #F9F8FC;
}
/* ----------------------------------------------- */