body {
  background-color: #FFFFFF;
}
.markdown-body {
  max-width: 1100px;
  margin: 40px auto;
  padding: 20px;
}
.markdown-body .title{
  font-size: 40px;
  font-weight: 700;
  font-family: var(--font-family-title);
  margin-bottom: 15px;
}
.markdown-body .summary {
  font-size: 18px;
  font-weight: 400;
  font-family: var(--font-family-body);
}
.markdown-body .image {
  width: 100%;
  max-width: 750px;
  margin: 25px 0;
}
.markdown-body .content-post {
  display: flex;
  gap: 10px;
}
.markdown-body .content-post #content {
  flex: 1;
}
.markdown-body .content-post aside {
  background-color: red;
  min-width: 250px;
} 
.markdown-body .content-post  h2 {
  border-bottom: none;
  font-size: 35px;
  padding: 0;
  margin-top: 60px;
}
.markdown-body .content-post  h2:first-child{
  margin-top: 0px;
}
.markdown-body .content-post  h3 {
  font-size: 25px;
}
.markdown-body .content-post  h4 {
  font-size: 20px;
}
.markdown-body .content-post  p {
  font-size: 18px;
  line-height: 1.5;
}
@media screen and (max-width: 850px) {
  .markdown-body .content-post {
    display: block;
  }
  .markdown-body .content-post aside{
    display: none;
    height: 80px;
  }
}
@media screen and (max-width: 500px) {
  .markdown-body {
    margin-top: 0px;
  }
  .markdown-body .title {
    font-size: 28px;
  }
  .markdown-body .content-post  h2 {
    font-size: 24px;
    margin-top: 30px;
  }
  .markdown-body .content-post  h3 {
    font-size: 20px;
  }
  .markdown-body .content-post  h4 {
    font-size: 18px;
  }
}