@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,700&display=swap');
:root {
    --font-family-body: 'Open Sans',Arial, Helvetica, sans-serif;
    --font-family-title: 'Montserrat', Arial, Helvetica, sans-serif;
    --font-size-normal: 16px;
    --font-size-large: 20px;
    --font-size-extra-large: 28px;
    --font-size-small: 14px;
    --font-size-huge: 32px;
    --font-size-extra-small: 12px;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 0,
  'opsz' 24
}
body, header, nav, article, aside, main, h1, h2, h3, h4, div, p, span, iframe {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--font-family-body);
    background-color: #F9F8FC;
    color: #1e1e20;
}
.limit-text {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
@media screen and (max-width: 800px) {
    :root {
        --font-size-normal: 16px;
        --font-size-large: 18px;
        --font-size-extra-large: 25px;
        --font-size-small: 14px;
        --font-size-huge: 28px;
        --font-size-extra-small: 12px;
    }
}
@media screen and (max-width: 500px) {
    :root {
        --font-size-normal: 15px;
        --font-size-large: 18px;
        --font-size-extra-large: 20px;
        --font-size-small: 12px;
        --font-size-huge: 24px;
        --font-size-extra-small: 10px;
    }
}

::-webkit-scrollbar {
    width: 12px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: #888;
}
::-moz-scrollbar {
    width: 12px;
    height: 5px;
}
::-moz-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
}