<footer>
    <div class="footer-container">
        <article class="about-me">
            <div class="me"></div>
            <div>
                <p>Hola!, mi nombre es Pablo Arturo, soy un estudiante de ing. informática de 4to. semestre en la <a class="footer-link" href="https://www.ujat.mx/" target="_blank" style="text-decoration: underline;">UJAT</a>.</p>
                <a style="text-decoration: underline;" class="footer-link" href="https://github.com/pabloCode010" target="_blank">Mi GitHub</a>
            </div>
        </article>
    </div>
</footer>