<nav class="navbar">
    <div>
        <a class="nav-link <%= currentPage === 'home' ? 'accent' : '' %>" href="/">inicio</a>
        <a class="nav-link" href="https://github.com/pabloCode010" target="_blank">github</a>
    </div>

    <% if (currentPage !== 'home') { %>
        <div class="navbar-title-container">
            <p class="navbar-title">my blog</p>
        </div>
    <% }%>

    <div class="navbar-feature">
        <form class="navbar-search-bar" action="">
            <input class="search-input" type="search" placeholder="Buscar">
            <button class="search-submit" type="submit"><span class="material-symbols-outlined">search</span></button>
        </form>
    </div>
</nav>