<nav class="navbar">
    <div>
        <a class="nav-link" href="/">inicio</a>
        <a class="nav-link" href="https://github.com/pabloCode010" target="_blank">github</a>
        <a class="nav-link accent" href="/about-me">sobre mí</a>
    </div>
    <div>
        <p class="navbar-title">my blog</p>
    </div>
    <div class="navbar-feature">
        <form class="navbar-search-bar" action="">
            <input class="search-input" type="search" placeholder="Buscar">
            <button class="search-submit" type="submit"><span class="material-symbols-outlined">search</span></button>
        </form>
    </div>
</nav>