<article class="subscription">
    <p class="subscribe-message">suscríbete al newsletter</p>
    <p class="subscribe-description">para recibir notificaciones por correo</p>
    <form class="subscription-form">
        <input type="email" name="email" id="email" placeholder="Correo electrónico">
        <button type="submit">suscribirse</button>
    </form>
</article>